[flake8]
application-package-names = ["h2o_discovery"]
import-order-style = "appnexus"
max-line-length = 88

; E203 whitespace before ':' (black compatibility)
; see https://black.readthedocs.io/en/stable/faq.html#why-are-flake8-s-e203-and-w503-violated
ignore = E203
