name: Release Please
on:
  push:
    branches:
      - main

concurrency:
  group: release-please

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}

    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_GITHUB_TOKEN }}
          command: manifest
          draft-pull-request: "true"

  release-pypi:
    name: Release to PyPI
    uses: ./.github/workflows/pypi-release.yml

    if: needs.release-please.outputs.releases_created
    needs: release-please

    secrets: inherit

  release-api-docs:
    name: Attach API Docs to Release
    uses: ./.github/workflows/api-docs-release.yml

    if: needs.release-please.outputs.releases_created
    needs: release-please

    with:
      tag: ${{ needs.release-please.outputs.tag_name }}

    secrets: inherit
